@font-face {
  font-family: "gelio-greek-diner";
  src: url("fonts/gelio_greek_diner-webfont.woff2"),
    url("fonts/gelio_greek_diner-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-secondary: #0f5ccc;
  --color-primary: #c613ec;
  --color-white: #f5f5f5;
  --color-accent: #d93809;
  --color-background: #0f0112;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  color: var(--color-white);
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 7rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.5rem;
    font-weight: 500;
  }

  body {
    font-size: 1.8rem;
  }
}

.span-gradient {
  background: rgb(15, 92, 204);
  background: linear-gradient(
    25deg,
    rgba(15, 92, 204, 1) 0%,
    rgba(198, 19, 236, 1) 95%
  );
  color: transparent;
  background-clip: text;
}

/* Links */

a {
  text-decoration: none;
  color: #cdd7eb;
}

.link--arrow {
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
}

.link--arrow::after {
  content: "➡";
  margin-left: 5px;
  transition: all 0.15s linear;
}

.link--arrow:hover::after {
  margin-left: 15px;
  background: rgb(15, 92, 204);
  background: linear-gradient(
    25deg,
    rgba(15, 92, 204, 1) 0%,
    rgba(198, 19, 236, 1) 95%
  );
  color: transparent;
  background-clip: text;
}

.link--arrow:hover {
  background: rgb(15, 92, 204);
  background: linear-gradient(
    25deg,
    rgba(15, 92, 204, 1) 0%,
    rgba(198, 19, 236, 1) 95%
  );
  color: transparent;
  background-clip: text;
}
.link--social {
  color: var(--color-white);
}

@media screen and (min-width: 768px) {
  .link--arrow {
    font-size: 2.5rem;
  }
}

/* Buttons */

.btn {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-white);
  padding: 1rem 1.5rem;
  cursor: pointer;
  margin: 0.5rem;
  text-transform: uppercase;
  text-wrap: nowrap;
}

.btn--outline {
  border: 1px solid #ba3104;
  background: transparent;
  border-radius: 10px;
  transition: background-color 0.15s linear;
}

.btn--outline:hover {
  background-color: #ba3104;
}

.btn--outline--right {
  border-radius: 30px 0px;
}

.btn--filled-blue {
  background: rgba(87, 188, 253, 1);
  border-radius: 10px;
  transition: background-color 0.15s linear;
  border: none;
}

.btn--filled-blue:hover {
  background: rgba(54, 140, 207, 1);
}

.btn--outline--left {
  border-radius: 0px 30px;
}

.btn--gradient {
  background: rgb(15, 92, 204);
  background: linear-gradient(
    25deg,
    rgba(15, 92, 204, 1) 0%,
    rgba(198, 19, 236, 1) 95%
  );
  border: none;
  border-radius: 20px;
}

@media screen and (min-width: 768px) {
  .btn {
    font-size: 1.5rem;
    padding: 1rem 3rem;
  }
}

/* Lists */

.list {
  list-style: none;
  padding-left: 0;
}

/* Icons */

.icon {
  width: 50px;
  height: 50px;
}

.icon--arrow {
  color: #cdd7eb;
  transition: color 0.3s;
  margin: 0.5rem 0;
  border-radius: 100%;
  background-color: rgba(63, 10, 82, 1);
  transition: all 0.3s;
}

/* Collapsibles */
.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  margin: 0;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}
.collapsible__chevron {
  transition: all 0.3;
}

.collapsible .collapsible__chevron {
  transform: rotate(90deg);
}

.collapsible--expanded .collapsible__content {
  max-height: 100%;
  opacity: 1;
}

.collapsible--expanded .collapsible__chevron {
  transform: rotate(0);
}

/* Nav */

.nav-container {
  background: rgba(11, 1, 24, 1);
  padding: 1.5rem 2rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.nav__item {
  padding: 1rem 0;
  border-bottom: 1px solid rgba(30, 10, 30, 0.9);
}

.nav__item > a {
  color: #cdd7eb;
  font-size: 3rem;
  font-weight: 600;
}

.nav__item > a:hover {
  background: linear-gradient(
    25deg,
    rgba(15, 92, 204, 1) 0%,
    rgba(198, 19, 236, 1) 95%
  );
  color: transparent;
  background-clip: text;
}

.nav__list {
  width: 100%;
  margin: 3rem 0;
  text-align: center;
}

.nav__burger {
  color: #adbbd7;
  border-radius: 5px;
  opacity: 0.5;
  cursor: pointer;
  border: 2px solid #adbbd7;
}

.nav.collapsible--expanded .nav__burger {
  opacity: 1;
  box-shadow: 0 0 0 5px #666;
}

.logo__text {
  font-family: "gelio-greek-diner";
  letter-spacing: 7px;
  font-size: 4rem;
  display: inline-block;
  margin: 0 1rem;

  background: rgb(205, 215, 235);
  background: linear-gradient(
    0deg,
    rgba(205, 215, 235, 1) 24%,
    rgba(173, 187, 215, 1) 75%
  );

  color: transparent;
  background-clip: text;
}

.logo__img {
  vertical-align: sub;
}

@media screen and (min-width: 768px) {
  .nav__burger {
    display: none;
  }

  .nav__list {
    display: flex;
    width: auto;
    margin: 0;
  }
  .nav__item {
    margin: 0 2rem;
    border: none;
  }

  .nav__item > a {
    font-size: 2rem;
  }
}

/* Grid */

.grid {
  display: grid;
  gap: 5px;
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
  }
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Hero */

.grid.hero {
  align-items: center;
  margin-top: 0rem;
}

.hero__header {
  font-size: 4rem;
  text-align: center;
}

.hero__image {
  width: 100%;
}

.hero__link {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .hero__link {
    justify-items: center;
  }
  .hero__header {
    font-size: 5rem;
  }

  .grid.hero {
    margin-top: 20rem;
  }

  .hero__link {
    justify-content: flex-end;
  }
}

@media screen and (min-width: 1024px) {
  .hero__header {
    font-size: 6rem;
    text-align: left;
  }
}

/* Blocks */

.block {
  padding: 10rem 2rem;
}

.block > .grid {
  align-items: center;
}

.block--gradient {
  background: rgb(37, 20, 108);
  background: linear-gradient(
    0deg,
    rgba(37, 20, 108, 1) 33%,
    rgba(11, 1, 24, 1) 90%
  );
}

.block--gradient-reverse {
  background: rgb(37, 20, 108);
  background: linear-gradient(
    0deg,
    rgba(25, 5, 51, 1) 10%,
    rgba(37, 20, 108, 1) 90%
  );
}

.block--gradient-middle {
  background: rgb(25, 5, 51);
  background: linear-gradient(
    0deg,
    rgba(25, 5, 51, 1) 5%,
    rgba(37, 20, 108, 1) 50%,
    rgba(25, 5, 51, 1) 95%
  );
}

.block--gradient-reverse-again {
  background: rgb(37, 20, 108);
  background: linear-gradient(
    0deg,
    rgba(37, 20, 108, 1) 10%,
    rgba(25, 5, 51, 1) 90%
  );
}

.block--gradient-last {
  background: rgb(37, 20, 108);
  background: linear-gradient(
    0deg,
    rgba(11, 1, 24, 1) 10%,
    rgba(37, 20, 108, 1) 90%
  );
}

.block__topic {
  text-align: center;
  max-width: 570px;
  margin: auto;
  color: rgba(173, 187, 215, 1);
}

.block__header {
  margin: 0;
  background: rgb(205, 215, 235);
  background: linear-gradient(
    0deg,
    rgba(205, 215, 235, 1) 24%,
    rgba(173, 187, 215, 1) 75%
  );
  color: transparent;
  background-clip: text;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(11, 1, 24, 0.4);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.container--third {
  max-width: 760px;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .block--gradient-reverse {
    padding: 15rem 0;
  }

  .block--gradient-reverse-again {
    padding: 15rem 0;
  }
}

/* Media */

.media {
  background: rgb(19, 35, 125);
  background: linear-gradient(
    180deg,
    rgba(19, 35, 125, 1) 5%,
    rgba(24, 10, 82, 1) 50%
  );
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  box-shadow: 0 0 3px 1px rgb(16, 5, 61);
}

.media__content {
  margin: 0 2rem;
  text-align: justify;
  word-break: break-all;
  color: var(--color-white);
}

.media__header {
  color: #d93809;
  margin-top: 1rem;
}

.media__img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.media__button {
  margin: 1rem 0;
}

.block--team__grid {
  gap: 3rem;
}

.media-button-container {
  display: flex;
  justify-content: end;
}

.media__image-container {
  position: relative;
  transition: all 0.3s ease-in;
}

.media__icons-container {
  visibility: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 0;
  transition: all 0.3s ease-in;
  opacity: 0;
}

.media__image-container:hover .media__icons-container {
  visibility: visible;
  opacity: 1;
}

.media__image-container:hover {
  opacity: 0.7;
}

.media__icon {
  margin: 0.2rem 1rem;
  padding: 3px;
  background-color: #d93809;
  transition: all 0.3s ease-in;
}

.media__icon:hover {
  background-color: #fc5523;
}

/* Icons */

.icon--accent {
  width: 20px;
  height: 20px;
  border-radius: 3px;
}

/* Cards */

.card {
  background: rgb(24, 10, 82);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 3px 1px rgb(16, 5, 61);
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  height: 52rem;
}

.card__image {
  width: 100%;
  max-height: 20rem;
  object-fit: cover;
}

.card__header {
  margin-top: 0;
  font-size: 2rem;
  color: rgba(87, 188, 253, 1);
}

.card__content {
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  text-align: justify;
  hyphens: auto;
}

.card__date {
  margin-top: 0;
  opacity: 0.7;
}

/* Features */

.features__image {
  width: 100%;
}

.features__header {
  font-size: 2.5rem;
  text-align: center;
  background: rgb(241, 156, 122);
  background: linear-gradient(
    270deg,
    rgba(241, 156, 122, 1) 10%,
    rgba(240, 187, 87, 1) 80%
  );
  color: transparent;
  background-clip: text;
}

.features__sub {
  font-size: 1.8rem;
  color: rgba(173, 187, 215, 1);
  text-align: center;
}
.features__desc {
  font-size: 1.4rem;
}

@media screen and (min-width: 768px) {
  .features__header {
    font-size: 2.5rem;
    text-align: left;
  }

  .features__sub {
    font-size: 1.8rem;
    text-align: left;
  }
}

@media screen and (min-width: 1024px) {
  .features__header {
    font-size: 3.2rem;
  }
  .features__sub {
    font-size: 2.1rem;
  }
}

/* List */

.list {
  list-style: none;
  padding-left: none;
}

.list--tick {
  list-style-image: url(static/Images/tick.png);
  padding-left: 3rem;
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

/* Investment */

.investments-grid {
  justify-items: center;
  gap: 2rem;
}

.investment {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background: rgb(24, 10, 82);
  background: linear-gradient(
    346deg,
    rgba(24, 10, 82, 1) 20%,
    rgba(63, 10, 82, 1) 68%
  );
  border-radius: 20px;
  padding: 1.5rem 2rem;
  box-shadow: 0 0 1px 2px rgba(24, 10, 82, 1);
  max-width: 20rem;
  transition: all 0.3s ease-in;
}

.investment:hover {
  background: rgba(63, 10, 82, 1);
}

.investment:hover .icon--arrow {
  background: rgba(24, 10, 82, 1);
}

.investment__icon {
  width: 100%;
}

.investment__heading {
  margin: 0.7rem 0;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid rgba(11, 1, 24, 0.5);
  border-top: 1px solid rgba(11, 1, 24, 0.5);
  padding: 0.7rem 0;
  letter-spacing: 2px;
  color: #cdd7eb;
}

/* Footer */

.footer {
  background: rgba(11, 1, 24, 1);
}

.footer__list > li {
  margin-bottom: 1.5rem;
  font-size: 2.4rem;
  text-align: center;
}

.footer__list-link {
  transition: color 0.3s;
  color: rgba(173, 187, 215, 1);
}

.footer__list-link:hover {
  color: rgb(201, 46, 209);
}

.footer__section-header {
  color: hsl(334, 87%, 77%);
}

.footer__list {
  margin: 0;
}

.footer__section-header {
  align-items: center;
  margin-bottom: 0.5rem;
  padding: 0;
}

.footer__logo {
  margin: 5rem 0;
  text-align: center;
}

.footer__copyright {
  font-size: 2rem;
  color: #f5f5f5;
  opacity: 0.3;
}

@media screen and (min-width: 768px) {
  .footer-sections {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 2rem;
    justify-items: center;
  }

  .footer .collapsible__chevron {
    display: none;
  }

  .footer .collapsible__content {
    opacity: 1;
    max-height: 100%;
  }

  .footer__section-header {
    border-bottom: 1px solid hsla(300, 54%, 62%, 0.3);
    justify-content: center;
  }
}

/* Table */

.table {
  font-size: 1.3rem;
  width: 100%;
  color: #cdd7eb;
  font-weight: 600;
  border-collapse: collapse;
}

.table-row {
  height: 7rem;
  border-bottom: 1px solid rgba(121, 5, 115, 0.473);
}

.table-row {
  height: 7rem;
  border-bottom: 1px solid rgba(121, 5, 115, 0.473);
}

.table-row:hover {
}

td,
th {
  padding: 1rem;
}

thead {
  font-size: 1.5rem;
  color: #cdd7eb;
  background: linear-gradient(
    25deg,
    rgba(15, 92, 204, 1) 0%,
    rgba(198, 19, 236, 1) 95%
  );
  height: 8rem;
}

.table__name {
  text-align: left;
}
.table__name-col {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.table__data-col {
  text-align: right;
}

.table__image {
  width: 3rem;
  margin-right: 1rem;
}
.page {
  font-size: 2rem;
  font-weight: 600;
  background: white;
  width: 30px;
  height: 30px;
  color: rgba(63, 10, 82, 1);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  margin: 2rem 1rem;
  transition: background 0.3s ease-in;
}

.page:hover {
  background: linear-gradient(
    25deg,
    rgba(15, 92, 204, 1) 0%,
    rgba(198, 19, 236, 1) 95%
  );
}

.page--highlighted {
  background: linear-gradient(
    25deg,
    rgba(15, 92, 204, 1) 0%,
    rgba(198, 19, 236, 1) 95%
  );
}

.paging {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.market__heading {
  text-align: center;
}

th:nth-child(4) {
  display: none;
}

th:first-child {
  border-radius: 10px 0 0 10px;
}
td:nth-child(4) {
  display: none;
}

@media screen and (min-width: 768px) {
  .table {
    font-size: 2rem;
  }
  thead {
    font-size: 2.2rem;
  }

  .page {
    width: 50px;
    height: 50px;
    font-size: 3rem;
  }
  .table__image {
    width: 5rem;
  }

  th:nth-child(4) {
    display: table-cell;
    border-radius: 0 10px 10px 0px;
  }
  td:nth-child(4) {
    display: table-cell;
  }
}
