@font-face {
  font-family: "gelio-greek-diner";
  src: url("fonts/gelio_greek_diner-webfont.woff2"),
    url("fonts/gelio_greek_diner-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-secondary: #0f5ccc;
  --color-primary: #c613ec;
  --color-white: #f5f5f5;
  --color-accent: #9f0647;
  --color-background: #0f0112;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  color: var(--color-white);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 7rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 3rem;
    font-weight: 500;
  }

  body {
    font-size: 2rem;
  }
}

.span-gradient {
  background: rgb(15, 92, 204);
  background: linear-gradient(
    25deg,
    rgba(15, 92, 204, 1) 0%,
    rgba(198, 19, 236, 1) 95%
  );
  color: transparent;
  background-clip: text;
}

/* Links */

a {
  text-decoration: none;
}

.link-arrow {
  font-size: 2rem;
  letter-spacing: 1px;
  color: var(--color-white);
  font-weight: bold;
  text-transform: uppercase;
}

.link-arrow::after {
  content: "➡";
  margin-left: 5px;
  transition: margin 0.15s linear;
}

.link-arrow:hover::after {
  margin-left: 15px;
}

@media screen and (min-width: 768px) {
  .link-arrow {
    font-size: 2.5rem;
  }
}

/* Buttons */

.btn {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-white);
  padding: 1rem 3rem;
  cursor: pointer;
  margin: 0.5rem;
  text-transform: uppercase;
}

.btn--outline {
  border: 1px solid var(--color-accent);
  background: transparent;
  border-radius: 10px;
  transition: background-color 0.15s linear;
}

.btn--outline:hover {
  background-color: var(--color-accent);
}

.btn--outline--right {
  border-radius: 30px 0px;
}

.btn--outline--left {
  border-radius: 0px 30px;
}

.btn--gradient {
  background: rgb(15, 92, 204);
  background: linear-gradient(
    25deg,
    rgba(15, 92, 204, 1) 0%,
    rgba(198, 19, 236, 1) 95%
  );
  border: none;
  border-radius: 20px;
}

@media screen and (min-width: 768px) {
  .btn {
    font-size: 2rem;
  }
}

/* Lists */

.list {
  list-style: none;
  padding-left: 0;
}

/* Icons */

.icon {
  width: 50px;
}

/* Collapsibles */
.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  margin: 0;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0.5;
  transform: all 0.3s linear;
}

.collapsible .collapsible__chevron {
  transform: rotate(90deg);
}

.collapsible--expanded .collapsible__content {
  max-height: 100%;
  opacity: 1;
}

.collapsible--expanded .collapsible__chevron {
  transform: rotate(0);
}

/* Nav */

.nav {
  background: #31033b;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav__item {
  padding: 0.5rem 2rem;
}
.nav__list {
  width: 100%;
  margin: 0;
}

.logo__text {
  font-family: "gelio-greek-diner";
  letter-spacing: 7px;
  font-size: 4rem;
  display: inline-block;
  margin: 0 2rem;
}
